cmake-*
.idea
.DS_Store
__pycache__
build
CMakeUserPresets.json
modules/instinct-lab/rag_evaluation/output/
modules/instinct-lab/rag_evaluation/data
.env
.ipynb_checkpoints
modules/instinct-lab/openai-test/output