[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "thirdparty/nlohmann_json"]
	path = thirdparty/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "thirdparty/httplib"]
	path = thirdparty/httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "thirdparty/xtensor"]
	path = thirdparty/xtensor
	url = https://github.com/xtensor-stack/xtensor.git
[submodule "thirdparty/xtl"]
	path = thirdparty/xtl
	url = https://github.com/xtensor-stack/xtl.git
